.card {
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  padding: 2em;
  /* color: white; */
  line-height: 25px;
  box-shadow: 5px 5px 10px #ccc;
  float: left;
  margin: 1em 0;
}

.br-10 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.border-bold {
  border: 1px solid var(--primary);
}

.card.gray {
  background: linear-gradient(135deg, #e3e3e3 0%, #5d6874 100%);
}

.card.green {
  border-color: green;
}

.card.red {
  border-color: red;
}

.card.yellow {
  border-color: yellow;
}

.block {
  display: block !important;
}
