.dropdown {
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 10px;
}

.dropdown:hover {
  border: 1px solid var(--primary);
}

.select {
  border: 1px solid var(--gray);
  border-radius: 10px;
  width: calc(100% + 10px);
  left: -5px;
  background-color: white;
  max-height: 200px;
}

.select div {
  background-color: white;
  border-radius: inherit;
  padding: 10px;
}

.select div:hover {
  background-color: var(--primary);
  border-radius: inherit;
  color: white;
  opacity: 0.7;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error .label {
  color: red;
}

.error .dropdown {
  border-color: red;
}

.selected {
  background-color: var(--primary) !important;
  border-radius: inherit;
  color: white;
  opacity: 0.7;
}
