@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sarabun";
  src: local("Sarabun"),
    url("./assets/fonts/Sarabun-Regular.ttf") format("truetype");
  font-weight: normal;
}

:root {
  --primary: #00b386;
  --gray: #b6b6af;
}

body {
  font-family: "Sarabun";
}

.txt-primary {
  color: var(--primary);
}
